@import "variables";

body {
  display: flex;
  flex-flow: column nowrap;
  background-color: $background-color;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  > main {
    overflow: auto;
  }
}

